<!-- Top bar -->
<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li><a class='menu-link' href="<%- sails.config.custom.baseUrl %>select">PROBLEMS</a></li>
      <li><a class='menu-link' href="#">SUBMISSIONS</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li class='menu-text'><%- email %></li>
      <li><a class='menu-link' href='<%- sails.config.custom.baseUrl %>logout'>LOG OUT</a></li>
    </ul>
  </div>
</div>
<!-- End of top bar -->
