<!DOCTYPE HTML>
<html>
	<head>
		<%- partial('./partials/head.ejs') %>
	</head>
	<body>
		<!-- Main container -->
		<div class='grid-container'>
			<div class='grid-x'>
				<div class='cell small-12 medium-6 medium-offset-3'>

					<!-- Log in form -->
					<form id='form-login' class='log-in-form' action='login' method='post' data-abide novalidate>
						<h4 id='login-header' class='text-center'>CODING PRACTICE LOGIN</h4>
						<!-- Login error -->
						<% if (typeof error !== 'undefined') { %>
							<div class='callout alert'><p>No account with that email and password exists. Please try again.</p></div>
						<% } %>
						<!-- End of login error -->
						<label>Email<input id='input-email' type='email' name='email' placeholder='somebody@example.com' required /><span class='form-error'>Please provide a valid email address.</span></label>
						<label>Password<input id='input-password' type='password' name='password' placeholder='Password' required /><span class='form-error'>Password is required.</span></label>
						<input id='input-show-password' type='checkbox'><label for='show-password'>Show password</label>
						<p><input type='submit' class='button expanded' value='Log in'></input></p>
						<p id='lost-credentials-text' class='text-center'>If you lost your login credentials, please send an email to g3117002@fun.ac.jp.</a>
					</form>
					<!-- End of log in form -->

				</div>
			</div>
		</div>
		<!-- End of main container -->

		<!-- JQuery script -->
		<script src='https://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=' crossorigin='anonymous'></script>
		<!-- End of JQuery script -->

		<!-- Foundation scripts -->
		<script src='<%- sails.config.custom.baseUrl %>js/what-input.js'></script>
		<script src='<%- sails.config.custom.baseUrl %>js/foundation.min.js'></script>
		<script src='<%- sails.config.custom.baseUrl %>js/app.js'></script>
		<!-- End of Foundation scripts -->

		<!-- Application scripts -->
		<script>
		$(document).ready(function() {
			$('#input-show-password').change(function() {
				if ($(this).is(':checked')) $('#input-password').attr('type', 'text');
				else $('#input-password').attr('type', 'password');
			});
		});
		</script>
		<!-- End of application scripts -->
	</body>
</html>
