<!DOCTYPE HTML>
<html>
	<head>
		<%- partial('./partials/head.ejs') %>
	</head>
	<body>
		<!-- Main container -->
		<div class='grid-container'>
			<div class='grid-x'>
				<div id='div-region-panel' class='cell small-12 medium-6 medium-offset-3'>
					<h4 class='region-header' class='text-center'>プログラミング演習へようこそ！</h4>
          <h4 class='region-header' class='text-center'>CODING PRACTICE WELCOME!</h4>
				</div>
        <div id='div-region-select' class='cell small-12 medium-6 medium-offset-3'>
					<a href='<% sails.config.custom.baseUrl %>login/jp' id='japanese-button' class='region-button'>
						<h4><img src='<% sails.config.custom.baseUrl %>images/lang_jp.png' />日本語</h4>
					</a>
					<a href='<% sails.config.custom.baseUrl %>login/en' id='english-button' class='region-button'>
						<h4><img src='<% sails.config.custom.baseUrl %>images/lang_en.png' />English</h4>
					</a>
        </div>
        <div id='div-region-text' class='cell small-12 medium-6 medium-offset-3'>
          <p>注意：アカウントに関連付けられた地域でのみログインできます。</p>
					<p>Note: you can only login in the region associated with your account.</p>
        </div>
			</div>
		</div>
		<!-- End of main container -->

		<!-- JQuery script -->
		<script src='https://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=' crossorigin='anonymous'></script>
		<!-- End of JQuery script -->

		<!-- Foundation scripts -->
		<script src='<%- sails.config.custom.baseUrl %>js/what-input.js'></script>
		<script src='<%- sails.config.custom.baseUrl %>js/foundation.min.js'></script>
		<script src='<%- sails.config.custom.baseUrl %>js/app.js'></script>
		<!-- End of Foundation scripts -->

		<!-- Application scripts -->
		<script>
		</script>
		<!-- End of application scripts -->
	</body>
</html>
